<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
			<div>
      <form action="/Addcsv">
        <input type="submit" name="submit_button" class="btn btn-primary" value="Import CSV" />
      </form>        
      </div>
      
      <br>
      <br>
      <div>
        <a href="/views/Retrieved.ejs" class="btn btn-success btn-sm float-end">Read Data</a>
      </div>
      <script>
        
      </script>
  </body>
</html>
